<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not Laravel</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

    <link rel="icon" href="data:, ">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.build.tailwind.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/authModals.js}"></script>
    <script th:src="@{/js/predictModal.js}"></script>
    <script th:src="@{/js/create.js}"></script>

</head>

<body class="mx-auto bg-gray-100">

<div th:replace="~{fragments/mobile-header :: mobile-header}"></div>

<div th:replace="~{fragments/header :: header}"></div>

<!--<div th:replace="~{fragments/sidebar :: sidebar}"></div>-->

<!--<div class="flex flex-col min-h-screen bg-gray-100">-->

            <main id="main">
                <div th:insert="~{${content}}"></div>
            </main>



    <div th:replace="~{fragments/footer :: footer}"></div>

    <div th:replace="~{fragments/mobile-dock :: mobile-dock}"></div>

    <div th:replace="~{fragments/collapsible-panel :: collapsible-panel}"></div>


</body>
</html>
