<div th:fragment="collapsible-panel" id="collapsible-panel" class="bg-gray-200 fixed w-40 pt-16 z-50">
  <a href="javascript:void(0)" class="closebtn absolute top-0 right-0 m-4 text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50" onclick="closePanel()">&times;</a>

  <a class="block px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50" href="#">
    Sports
  </a>
  <a class="block px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50" href="#">
    Politics
  </a>
  <a class="block px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50" href="#">
    Entertainment
  </a>
  <a class="block px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50" href="#">
    Technology
  </a>
  <a class="block px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50" href="#">
    Gossip
  </a>
  <a class="block px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50" href="#">
    Weather
  </a>
</div>
