<div th:fragment="sidebar" id="sidebar" class="fixed w-40 h-full">

                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    <span>Home</span>
                </a>

                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    <span>Sports</span>
                </a>
                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    <span>Politics</span>
                </a>
                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    <span>Entertainment</span>
                </a>
                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    <span>Technology</span>
                </a>
                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    <span>Gossip</span>
                </a>
                <a
                        class="px-6 py-2 text-gray-600 hover:bg-gray-200 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-50"
                        href="#"
                >
                    Weather
                </a>

    <div class="flex justify-center mt-6">
        <a th:href="@{/markets/create}" class="inline-flex items-center bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">Add Market</a>
    </div>




</div>

<!-- Mobile dock for small screens -->
<div id="mobile-dock" class="fixed bottom-0 left-0 right-0 bg-gray-800 dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800 py-2">
    <div class="justify-around">
        <a href="#" class="dock-item">
            <span>Home</span>
        </a>
        <a href="#" class="dock-item">
            <span>Profile</span>
        </a>
        <a href="#" id="toggleSidebarBtn" class="dock-item">
            <!-- hamburger svg menu -->
            <span>Hamburgwr</span>
            <!--            <svg ...></svg>-->
        </a>
    </div>
</div>