<div class="max-w-2xl mx-auto p-4 sm:p-6 lg:p-8">
    <h1 class="font-semibold text-xl text-gray-800 leading-tight">Markets</h1>
    <div class="mt-6 shadow-sm rounded-lg divide-y">
        <div class="w-full divide-y divide-gray-200">
            <!-- Loop through marketsList and generate cards -->
            <div th:each="market : ${marketsList}" class="bg-white shadow-md rounded-lg overflow-hidden mb-4">
                <!-- Market Card -->
                <!-- Wrap the card with a link -->
                <a th:href="@{'markets/' + ${market.id}}" class="block">
                    <div class="w-full divide-y divide-gray-200">
                        <div class="bg-gray-50">
                            <div class="px-6 py-3 flex justify-between items-center">
                                <h2 class="text-left text-xs font-medium text-gray-500 uppercase tracking-wider" th:text="${market.title}">Title</h2>
                                <span class="text-xs font-medium text-gray-500 uppercase tracking-wider" th:text="${market.marketType}">Market Type</span>
                            </div>
                        </div>
                        <div class="divide-y divide-gray-200 space-y-2 px-6 py-4">
                            <!-- Conditional rendering for Poll questions -->
                            <div th:if="${market.marketType == 'YesNo'}" class="flex flex-wrap justify-around p-4">
                                <div th:each="security : ${market.securities}" class="w-1/2 md:w-1/4 p-2">
                                    <div class="text-sm text-gray-600" th:text="'probability: ' + ${#numbers.formatDecimal(security.probability, 1, 0)} + '%'"></div>
                                    <form class="predictionForm flex justify-center">
                                        <input type="hidden" class="securityId" name="id" th:value="${security.id}">
                                        <input type="hidden" class="securityName" name="name" th:value="${security.name}">
                                        <input type="hidden" class="marketId" name="marketId" th:value="${market.id}">
                                        <input type="hidden" class="predictionInput" name="prediction">
                                        <button type="button"
                                                th:text="'Bet ' + ${security.name}"
                                                class="text-white font-semibold rounded-md w-full py-2 text-xs"
                                                th:classappend="${security.name == 'yes'} ? ' bg-red-500 hover:bg-red-600 focus:bg-red-600' : ' bg-green-500 hover:bg-green-600 focus:bg-green-600'"
                                                onclick="openModal('yes', event)">
                                        </button>
                                    </form>
                                </div>
                            </div>


                            <!-- Conditional rendering for Multiple Choice and Yes/No -->
                            <div th:if="${market.marketType != 'YesNo'}">
                                <!-- Loop through securities and generate buttons -->
                                <div th:each="security : ${market.securities}" class="flex items-center justify-between space-y-2">
                                    <div class="text-sm text-gray-900" th:text="${security.name}">Security</div>
                                    <div class="text-sm text-gray-600" th:text="'probability: ' + ${#numbers.formatDecimal(security.probability, 1, 0)} + '%'"></div>
                                    <!-- Button Group -->
                                    <form class="predictionForm flex items-center space-x-2">
                                        <input type="hidden" class="securityId" name="id" th:value="${security.id}">
                                        <input type="hidden" class="securityName" name="name" th:value="${security.name}">
                                        <input type="hidden" class="marketId" name="marketId" th:value="${market.id}">
                                        <input type="hidden" class="predictionInput" name="prediction">
                                        <button type="button" onclick="openModal('yes', event)" class="px-2 py-1 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600 text-xs">Yes</button>
                                        <button type="button" onclick="openModal('no', event)" class="px-2 py-1 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600 text-xs">No</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="flex justify-center mt-6">
        <a th:href="@{/markets/create}" class="mt-4 inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">Add Market</a>
    </div>

    <!-- Include the modal fragment -->
    <div th:insert="~{fragments/predict-modal :: predictModalFragment}"></div>
</div>

<script>
    function openModal(value, event) {
        event.preventDefault();

        const form = event.target.closest('form');
        const securityId = form.querySelector('.securityId') ? form.querySelector('.securityId').value : '';
        const securityName = form.querySelector('.securityName') ? form.querySelector('.securityName').value : '';
        const marketId = form.querySelector('.marketId').value;

        // Set the values in the modal
        document.getElementById('modalSecurityId').value = securityId;
        document.getElementById('modalSecurityName').value = securityName;
        document.getElementById('modalSecurity').textContent = securityName ? "Security: " + securityName : "Market: Poll";
        document.getElementById('modalMarketId').value = marketId;
        document.getElementById('modalPredictionValue').value = value;

        // Show the modal and overlay
        document.getElementById('predictionModal').classList.remove('hidden');
        document.getElementById('modalOverlay').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('predictionModal').classList.add('hidden');
        document.getElementById('modalOverlay').classList.add('hidden');
    }
</script>



