<div class="max-w-2xl mx-auto p-4 sm:p-6 lg:p-8">
    <h1 class="font-semibold text-xl text-gray-800 leading-tight">Market</h1>
    <div class="mt-6 bg-white shadow-sm rounded-lg divide-y">
        <div class="w-full divide-y divide-gray-200">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <!-- Market Card -->
                <div class="w-full divide-y divide-gray-200">
                    <div class="bg-gray-50">
                        <div class="px-6 py-3 flex justify-between items-center">
                            <h2 class="text-left text-xs font-medium text-gray-500 uppercase tracking-wider" th:text="${market.title}">Title</h2>
                            <span class="text-xs font-medium text-gray-500 uppercase tracking-wider" th:text="${market.marketType}">Market Type</span>
                        </div>
                    </div>
                    <div class="divide-y divide-gray-200 space-y-2 px-6 py-4">
                        <!-- Loop through securities and generate buttons -->
                        <div th:if="${market.marketType == 'YesNo'}" class="flex flex-wrap justify-around p-4">
                            <div th:each="security : ${market.securities}" th:if="${security.name == 'yes'}" class="w-full p-2">
                                <div class="text-sm text-gray-600" th:text="'Market Probability: ' + ${#numbers.formatDecimal(security.probability, 1, 0)} + '%'"></div>
                            </div>
                            <div th:each="security : ${market.securities}" class="w-full md:w-1/2 lg:w-1/3 p-2">
<!--                                <div class="text-sm text-gray-600" th:text="'Probability: ' + ${#numbers.formatDecimal(security.probability, 1, 0)} + '%'"></div>-->
                                <form class="predictionForm flex justify-center">
                                    <input type="hidden" class="securityId" name="id" th:value="${security.id}">
                                    <input type="hidden" class="securityName" name="name" th:value="${security.name}">
                                    <input type="hidden" class="marketId" name="marketId" th:value="${market.id}">
                                    <button type="button"
                                            th:text="'Bet ' + ${security.name}"
                                            class="text-white font-semibold rounded-md w-full py-2 text-xs"
                                            th:classappend="${security.name == 'yes'} ? ' bg-green-500 hover:bg-green-600 focus:bg-green-600' : ' bg-red-500 hover:bg-red-600 focus:bg-red-600'"
                                            th:attr="onclick=|openModal('${#strings.toUpperCase(security.name)}', event)|">
                                    </button>

                                </form>
                            </div>
                        </div>

                        <!-- Conditional rendering for Multiple Choice and Yes/No -->
                        <div th:if="${market.marketType != 'YesNo'}">
                            <!-- Loop through securities and generate buttons -->
                            <div th:each="security : ${market.securities}" class="flex items-center justify-between space-y-2">
                                <div class="text-sm text-gray-900" th:text="${security.name}">Security</div>
                                <div class="text-sm text-gray-600" th:text="'Probability: ' + ${#numbers.formatDecimal(security.probability, 1, 0)} + '%'"></div>
                                <!-- Button Group -->
                                <form class="predictionForm flex items-center space-x-2">
                                    <input type="hidden" class="securityId" name="id" th:value="${security.id}">
                                    <input type="hidden" class="securityName" name="name" th:value="${security.name}">
                                    <input type="hidden" class="marketId" name="marketId" th:value="${market.id}">
                                    <button type="button" onclick="openModal('YES', event)" class="px-2 py-1 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600 text-xs">Yes</button>
                                    <button type="button" onclick="openModal('NO', event)" class="px-2 py-1 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600 text-xs">No</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Section -->
    <div class="mt-6">
        <h2 class="font-semibold text-lg text-gray-800">Comments</h2>
        <!-- Insert comments section here -->
    </div>

    <div th:insert="~{fragments/predict-modal :: predictModalFragment}"></div>

</div>

<script>
    function openModal(action, event) {
        event.preventDefault();

        const form = event.target.closest('form');
        const securityId = form.querySelector('.securityId').value;
        const securityName = form.querySelector('.securityName').value;
        const marketId = form.querySelector('.marketId').value;

        // Set the values in the predictionModal
        document.getElementById('modalSecurityId').value = securityId;
        document.getElementById('modalSecurityName').value = securityName;
        document.getElementById('modalSecurity').textContent = securityName ? "Security: " + securityName : "Market: Poll";
        document.getElementById('modalMarketId').value = marketId;
        document.getElementById('action').value = action;

        // Show the modal and overlay
        document.getElementById('predictionModal').classList.remove('hidden');
        document.getElementById('modalOverlay').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('predictionModal').classList.add('hidden');
        document.getElementById('modalOverlay').classList.add('hidden');
    }
</script>

